<!DOCTYPE html>
<html>
  <head>
    <title>Bakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h2>Welcome to the best Bakery</h2>
    <br><hr>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
